container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal")
        li(class="list-group-item")
            a(href="shotprocess/shotsteps") 11 Steps
        li(class="list-group-item") 
            a(href="") Closed Loop
        li(class="list-group-item") 
            a(href="") Next Process
block content