h5 National Training System for Compound Bow & Back Tension Release Aid - Step-by-Step Shooting Form
ol 
    li Stance 
    li Nocking 
    li Set (hook-release aid):
        ul 
            li Bow hand 
            li Release hand
        ul 
    li Posture/mindset 
    li Set-up (raise)
    li Draw to load 
    li Ancor 
    li Transfer to hold 
    li Aim ... {expand/contract}... aim 
    li Release & follow-through
    li Feedback 
ol
block content