include ../includes/layout
block content 
h4 resources... 
h6 Mental Resources 
    ul
        li
            a(href="https://www.amazon.com/Planning-Peak-Archery-Larry-Wise/dp/1606795635/ref=sr_1_2?crid=25G3SPCNMRAC8&keywords=larry+wise+archery&qid=1676024375&sprefix=larry+wise%2Caps%2C184&sr=8-2" target="_blank") Planning to Peak - Larry Wise 
            img(src="/images/larry-wise-planning-to-peak.png")(style="max-width: 5%; margin: 10px;")
        li 
            a(href="https://www.amazon.com/gp/product/1934324264/ref=ox_sc_act_title_2?smid=ATVPDKIKX0DER&psc=1" target="_blank") With Winning in Mind - Lanny Bassham
            img(src="/images/lanny-bassham-with-winning-in-mind.png")(style="max-width: 10%; margin:10px;")

h6 Form Resources 
    ul 
        li OnForm - Apple App Store 

h6 Equipment 
    ul 
        li 
            a(href="https://lancasterarchery.com/") Lancaster Archery Supply