include includes/layout

block content
    h2(class="mb-4") PLAN YOUR WORK AND THEN WORK YOUR PLAN...

    .row
        .col(class=col-md-4)
            H5 Practice Session Structure 
            ul 
                li Movement-focused warm-up
                li Stretching 
                li Blank-bale (no target face)
                li Scoring round of some kind 
                li Practice-ending blank-bale 
                li Stretching/cool-down 
                li Bow tuning, as needed 
            ul 
        .col(class=col-md-4)
            h5 Essential Tools 
            ul 
                li Stretch bands 
                li Blank-bale 
                li targets
            ul 
        .col(class=col-md-4)
            h5 Practice Frequency 
            p 4-5 times a week. Tournament preparation is broken into  (cycle that is about a year long), mesocycles (cycle that is broken into four to six weeks), and microcycles (7 to 10 day cycles).
    .row 
