include ../includes/layout
block content

container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item")
            a(href="./rest") Rest
        li(class="list-group-item disabled" style="background-color:lightgray;" ) 
            a(href="./dloop"  style="text-decoration:none; color: black;") D-Loop
        li(class="list-group-item" ) 
            a(href="./sight") Sight
        li(class="list-group-item" ) 
            a(href="./stabalizer") Stabalizer


.container
    .row 
        .col 
            h5 How to Tie a D-Loop: 
            img(src="/images/dloop-installation.png")(style="max-width: 60%;")
            p Key points: 
            ul 
                li the top loop should be facing the shooter 
                    img(src="/images/top-dloop.png")(style="max-width: 60%; margin-left: 10px;")
        .col
            h5 How to locate center shot for dloop 
            p Tools:    
            .container
                .row 
                    .col
                        p Minimal equipment:
                        ul 
                            li Bow Square 
                            li Sharpie
                            li Serving String
                    .col 
                        p With equipment
                        ul 
                            li Bow Vice 
                            li Bow Level & Arrow Level
                            li Serving String
                .row 
                    .col 
                        p Clip the bow square on the string over the center serving. Align the bottom of the bow square ruler through the burger button holes on the riser. With a sharpie mark the line at 0. 
                    .col 
                        p Attach the level to the string to level the bow in the vice. Nock an arrow in the bow with an arrow level. Align the arrow through the burger button holes in the rise and the level bubble is aligned. Sharpie the center serving below the arrow.
                .row 
                    p After the center serving has been sharpied, take a generous amount of serving string and tie half knots. Typically between 3-4 half knots on front and back (6-8 half knots in total). After half knots have been tied, cut and burn the ends down flush to the knots. Nock an arrow above the freshly tied knots. Grab another generous amount of serving string to tie half knots above the arrow. Start with two center serving strands between the first half knot and the top of the arrow nock. Tie between 2-3 half knots on front and back (4-6 haf knots in total). Cut and burn the excess serving material when complete. Use d-loop material and follow the instructions in the diagram to the left to tie the d-loop above and below the soft knots you just created. 
                    