include ../includes/layout
block content

container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item disabled" style="background-color:lightgray;")
            a(href="./rest" style="text-decoration:none; color: black;") Rest
        li(class="list-group-item") 
            a(href="./dloop") D-Loop
        li(class="list-group-item" ) 
            a(href="./sight") Sight
        li(class="list-group-item" ) 
            a(href="./stabalizer") Stabalizer

.container 
    h4 Installing arrow rest 
    p When installing an arrow rest, many are able to eye ball the rest at a 90* to the riser. Arrow rests are designed to be adjusted in elevation and windage to get the appropriate center shot for each bow. While manufactures try to make equipment easy for all to use, each rest will likely need some adjustments out of the box.
    h6 Key Points: 
    ul 
        li Most bows recommend a center shot of 13/16" from the riser 
        li Adjust the windage to get the arrow to the manufactures recommended center shot 
        li Adjust the elevation so the arrow runs through the burger button holes on the riser
