include ../includes/layout
block content

container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item" ) 
            a(href="setup/dloop") D-Loop
        li(class="list-group-item")
            a(href="setup/rest") Rest
        li(class="list-group-item" ) 
            a(href="setup/stabalizers") Stabalizers
        li(class="list-group-item" ) 
            a(href="setup/sight") Sight
h4 setup... 

