include ../includes/layout
block content

container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item " ) 
            a(href="./dloop") D-Loop
        li(class="list-group-item")
            a(href="./rest") Rest
        li(class="list-group-item"  style="text-decoration:none; color: black;" ) 
            a(href="./stabalizers disabled" style="background-color:lightgray;") Stabalizers
        li(class="list-group-item" ) 
            a(href="./sight") Sight
h4 stabalizers... 

