
container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item" )
            a(href="./tuning/bareshaft") Bareshaft Tuning
        li(class="list-group-item") 
            a(href="./tuning/torque") Torque Tuning 
        li(class="list-group-item") 
            a(href="#") Group Tuning
block content