include ../includes/layout
block content 
container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item" ) 
            a(href="./shotsteps") 11 Steps
        li(class="list-group-item disabled" style="background-color:lightgray;")
            a(href="./basicform" style="text-decoration:none; color: black;") Basic Form
        li(class="list-group-item" ) 
            a(href="./advancedform") Advanced Form

        
block content
h4 form...

.container 
    .row 
        .col 
            h4 Hand Position 
        .col 
            img(src="/images/grip.jpg")(style="max-width: 60%;")
    .row(style="margin-top: 20px;")
        .col    
            h4 Stance 
        .col 
            img(src="/images/stance.jpg")(style="max-width: 60%;")