include ../includes/layout
block content 
container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item")
            a(href="/shotprocess/shotsteps") 11 Steps
        li(class="list-group-item" ) 
            a(href="/shotprocess/basicform") Basic Form            
        li(class="list-group-item" ) 
            a(href="/shotprocess/advancedform") Advanced Form
block content

    .container
        .row 
            .col(class=col-md-4)
                include partials/shotsteps
            .col(class=col-md-4)
                h6 Basic Stance
                img(src="/images/stance.jpg")(style="max-width: 60%;")