include ../includes/layout
block content 
container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item disabled" style="background-color:lightgray;")
            a(href="./shotsteps" style="text-decoration:none; color: black;") 11 Steps
        li(class="list-group-item" ) 
            a(href="./basicform") Basic Form            
        li(class="list-group-item" ) 
            a(href="./advancedform") Advanced Form
block content
include partials/shotsteps