include ../includes/layout
block content 
container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item")
            a(href="./indoor") Indoor Plans
        li(class="list-group-item" ) 
            a(href="./outdoor") Outdoor Plans
        li(class="list-group-item disabled"  style="background-color:lightgray;") 
            a(href="./3d"  style="text-decoration:none; color: black;") 3D Plans
block content
h4 3d training...