include ../includes/layout
block content 
container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item")
            a(href="training/indoor") Indoor Plans
        li(class="list-group-item" ) 
            a(href="training/outdoor") Outdoor Plans
        li(class="list-group-item" ) 
            a(href="training/3d") 3D Plans

block content
    h2(class="mb-4 mx-4") "PLAN YOUR WORK AND THEN WORK YOUR PLAN..."

    .container
        .row
            .col(class=col-md-4 px-0)
                H5 Practice Session Structure 
                ul 
                    li Movement-focused warm-up
                    li Stretching 
                    li Blank-bale (no target face)
                    li Scoring round of some kind 
                    li Practice-ending blank-bale 
                    li Stretching/cool-down 
                    li Bow tuning, as needed 
                ul 
            .col(class=col-md-4 px-0)
                h5 Practice Frequency 
                p 4-5 times a week. Tournament preparation is broken into macrocycle (about a year long), mesocycles (four to six weeks), and microcycles (7 to 10 day).
        .row(class="d-flex justify-content-center flex-nowrap")
            .container
                h5 Essential Tools 
                ul 
                    li Stretch bands 
                    li Blank-bale 
                    li targets
                ul 