include ../includes/layout
block content 
container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item")
            a(href="./paper") Paper Tuning    
        li(class="list-group-item disabled"  style="background-color:lightgray;")
            a(href="./bareshaft" style="text-decoration:none; color: black;") Bare Shaft Tuning
        li(class="list-group-item") 
            a(href="./torque") Torque Tuning 
        li(class="list-group-item") 
            a(href="./group") Group Tuning
        li(class="list-group-item")
            a(href="./walkback") Walk Back Tuning
block content

H3(class="mx-4 mb-4") Bare Shaft Tuning

.container(class="mx-4")

    p This is all assuming your arrow is correctly spined and your bow is correctly setup. This should be done after paper tuning your bow. 
    
    H5(class="font-weight-bold font-italic text-upper") Why Bare Shaft tune? 
    p bare shaft tuning will help align a broadhead and fieldpoint for hunting setups. 

    H5(class="font-weight-bold font-italic text-upper") Equipment Needed
    p An unfletched and a fletched arrow, along with your bow will be needed to get this complete. You should look to use the exact setup that you will be shooting with one arrow being just a bare shaft and no fletchings.

    H5(class="font-weight-bold font-italic text-upper") How to Bare Shaft Tune
    p At about 20 yards shoot your bare shaft first to avoid shooting any vanes. Next shoot your complete (vane on) arrow. You are looking to have the two arrows as close as possible.

    H5(class="font-weight-bold font-italic text-upper") Fixing Inconsistencies
    p Chase your bare shaft. If your bare shaft is hitting to the right of your fletched arrow move your rest to the right. Moving your rest will impact where your arrows will hit, this means you will have to adjust your sight as well. 

.container(class="mx-4")
    p For advanced bare shaft tuning to also determine correct arrow spine, check out the below video. 
    iframe(width="420" height="315" src="https://www.youtube.com/embed/vf8DFddxYGc")
