include ../includes/layout
block content 
container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item disabled"  style="background-color:lightgray;")
            a(href="./bareshaft" style="text-decoration:none; color: black;") Bareshaft Tuning
        li(class="list-group-item") 
            a(href="./torque") Torque Tuning 
        li(class="list-group-item") 
            a(href="./group") Group Tuning
        li(class="list-group-item")
            a(href="./walkback") Walk Back Tuning
block content

H3(class="mx-4 mb-4") Bareshaft Tuning

.container(class="mx-4")
    
    H5(class="font-weight-bold font-italic text-upper") Why bareshaft tune? 
    p bareshaft tuning will help align a broadhead and fieldpoint for hunting setups. 