include ../includes/layout
block content 
container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item")
            a(href="./bareshaft") Bareshaft Tuning
        li(class="list-group-item" ) 
            a(href="./torque") Torque Tuning 
        li(class="list-group-item disabled"   style="background-color:lightgray;") 
            a(href="./group"  style="text-decoration:none; color: black;") Group Tuning
        li(class="list-group-item")
            a(href="/tuning/walkback") Walk Back Tuning
block content

H3(class="mx-4 mb-4") Group Tuning

.container(class="mx-4")
    H5(class="font-weight-bold font-italic text-upper") Why group tune? 
    p Group tuning can help eliminate any flyers that you experience. This will not resolve any arrow spine or arrow issues. 

    H5(class="font-weight-bold font-italic text-upper") Equipment Needed
    p A few spot target face of your choice, along with your bow will be needed to get this complete. 

    H5(class="font-weight-bold font-italic text-upper") How to Group Tune 
    p If you have a baseline score for your setup then you can move forward otherwise shoot a few games to get a baseline score. You will make micro adjustments to drop the rest down and score a game again. You will do this until you find your highest scores and make note of where your rest alignment. If you move too much and your scores start to decrease again move back to the previous position. This will typically require multiple shooting sessions to complete. 
