include ../includes/layout
block content 
container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item")
            a(href="./bareshaft") Bareshaft Tuning
        li(class="list-group-item disabled"   style="background-color:lightgray;") 
            a(href="./torque" style="text-decoration:none; color: black;") Torque Tuning 
        li(class="list-group-item") 
            a(href="./group") Group Tuning
        li(class="list-group-item")
            a(href="/tuning/walkback") Walk Back Tuning
block content

h3 Torque Tuning...