include ../includes/layout
block content 
//- include partials/tuningmenu
container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item")
            a(href="tuning/bareshaft") Bareshaft Tuning
        li(class="list-group-item") 
            a(href="tuning/torque") Torque Tuning 
        li(class="list-group-item") 
            a(href="tuning/group") Group Tuning
        li(class="list-group-item")
            a(href="/tuning/walkback") Walk Back Tuning


block content

    h3(class="mb-4 mx-4") Everything Tuning

    .container 
        p we have many different tuning methods available to use. We have detailed out some of the common methods.
            p Common themes when tuning include: 
        .row 
            .col(class=col-md-4)
                ul 
                    li Paper Tear High = Drop nocking point or raise rest 
                    li Paper Tear Low = Raise nocking point or lower rest 
                    li Paper Tear Right = Move the rest left 
                    li Paper Tear Left = Move the rest right 

                    img(src="/images/how-to-paper-tune-a-bow.png")

            .col(class=col-md-4)
                p Click below for more information on each of the tuning methods. 
                ul 
                    li 
                        a(href="#") Bareshaft Tuning
                    li 
                        a(href="#") Group Tuning
                    li 
                        a(href="#") Torque Tuning