include ../includes/layout
block content 
//- include partials/tuningmenu
container(class="d-flex justify-content-center flex-nowrap bg-info")
    ul(class="mx-auto list-group list-group-horizontal ")
        li(class="list-group-item")
            a(href="./bareshaft") Bare Shaft Tuning
        li(class="list-group-item") 
            a(href="./torque") Torque Tuning 
        li(class="list-group-item") 
            a(href="./group") Group Tuning
        li(class="list-group-item disabled" style="background-color:lightgray;")
            a(href="./walkback" style="text-decoration:none; color: black;") Walk Back Tuning
block content
H3(class="mx-4 mb-4") Walk Back Tuning

.container(class="mx-4")
    
    H5(class="font-weight-bold font-italic text-upper") Why walk back tune? 
    p Walk back tuning lets you know if the left/right misses when you change distances from the target is you, or your rest. If you are only going to shoot at one distance, walk back tuning might not be a necessary step for you in the tuning process. If you will be shooting at multiple distances then this could be another option for you. 

    H5(class="font-weight-bold") Equipment Needed 
    p You will of course need your bow and a blank target to shoot at. Some thin tape, electrical or a portion of Duct Tape will work. If you have a sharpie and some paper you can draw on, that would work too. 
        ul 
            li Bow & arrows
            li Target 
            li Thin visible tape or sharpie

    H5(class="font-weight-bold font-italic") How to Walk Back Tune 
    p You are going to start close, around 20 yards. Shoot so your arrow is hitting the tape at 20 yards. You are going to step back to about 50 yards in 5-10 yard increments. If your rest is misaligned then you will start to see either left or right misses the farther back you go. 

    H5(class="font-weight-bold") How to Resolve Left/Right Misses 
    p For both left and right handed shooters, to fix issue, move the rest in the direction you want the arrows to go. If your arrows are missing to the right of the line, move the rest to the left. 

